<div class="row">
	<div class="col-lg-12">
		<h6><a href="#/index">Início</a> / <a href="#">Autorização</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Autorização</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="avisosCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Liberação de Visitante
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs">X</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>MORADOR</th>
							<th>APARTAMENTO</th>
							<th>BLOCO</th>
							<th>DATA DE LIBERAÇÃO</th>
							<th>NOME DO VISITANTE</th>
							<th>DATA DE INCLUSÃO</th>
							<th>LIBERAR</th>
						</tr>
					</thead>
					<tbody>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000</td>
							<td>A</td>
							<td>00/00/0000</td>
							<td>Ciclano di Tal</td>
							<td>00/00/0000</td>
							<td class="text-center"><input type="checkbox" name=""></td>
						</tr>
					</tbody>
				</table>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="avisosCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Liberação Lista de Visitantes
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs">X</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="dataTables-example1">
					<thead>
						<tr>
							<th>MORADOR</th>
							<th>APARTAMENTO</th>
							<th>BLOCO</th>
							<th>DATA DE LIBERAÇÃO</th>
							<th>NUMERO DE VISITANTES</th>
							<th>ESPAÇO LIBERADO</th>
							<th>DATA DE INCLUSÃO</th>
						</tr>
					</thead>
					<tbody>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000</td>
							<td>A</td>
							<td>00/00/0000</td>
							<td>00</td>
							<td>Espaço Gourmet</td>
							<td>00/00/0000</td>
						</tr>
					</tbody>
				</table>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
	$(document).ready(function() {
		$('#dataTables-example1').DataTable({
			responsive : true
		});
	});
</script>