<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> / <a href="#/correspondencia">Correspondência</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Correspondência</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="correspondenciasCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-plus">
				Correspondencia
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs">+</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="container">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-4">
							<table class="table-icons">
								<tr>
									<td><img src="../img/icon_mercadorias.png"></td>
									<td><h4>&nbsp&nbsp&nbsp00 Mercadorias</h4></td>
									<td><img src="../img/icon_correspondencias_big.png"></td>
									<td><h4>&nbsp&nbsp00 Mercadorias</h4></td>
								</tr>
							</table>
						</div>
						<!-- /.col-lg-3 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
				<div class="row">
					<div class="col-lg-12">
						<table width="100%" class="table table-striped table-hover"
							id="dataTables-example">
							<thead>
								<tr>
									<th>DATA DE RECEBIMENTO</th>
									<th>CPF</th>
									<th>APARTAMENTO</th>
									<th>BLOCO</th>
									<th>DATA DE ENTREGA</th>
									<th>REMETENTE</th>
									<th>RECEBIDO POR</th>
									<th>TIPO DE PACOTE</th>
									<th>CATEGORIA</th>
									<th>STATUS</th>
									<th>CÓD.BARRAS</th>
								</tr>
							</thead>
							<tbody>
								<tr class="gradeC">
									<td>00/00/0000</td>
									<td>000.000.000-00</td>
									<td class="text-center">000</td>
									<td class="text-center text-uppercase">l</td>
									<td>00/00/0000</td>
									<td>Saraiva</td>
									<td>Fulano di Tal</td>
									<td>Correios - Sedex</td>
									<td>Mercadoria</td>
									<td>Recebida</td>
									<td><i class="fa fa-search-plus" aria-hidden="true"></i></td>
								</tr>
							</tbody>
						</table>
						<!-- /.table-responsive -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
</script>