<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Medicamentos por Paciente</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="medicamentosPorPacienteCtrl">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Buscar Paciente</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form role="form">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nome:</label> <input class="form-control" name="nome"
                                        ng-model="paciente.nome" placeholder="Informe um paciente">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <div class="form-group">
                                    <button type="button" ng-click="pesquisarPaciente(paciente)"
                                        class="btn btn-success">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover"
                                        id="dataTables-buscaPacientes">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Dt. Nasc</th>
                                                <th>Nome Mãe</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeA" ng-repeat="paciente in pacientesBusca">
                                                <td>{{paciente.nome}}</td>
                                                <td>{{paciente.dtNascimento}}</td>
                                                <td>{{paciente.nomeMae}}</td>
                                                <td class="center">
                                                    <p class="btn btn-outline btn-primary btn-xs">EDITAR</p>
                                                    <p class="btn btn-outline btn-success btn-xs"
                                                        ng-click="cadastrarNovaReceita(paciente)">+ RECEITA</p>
                                                    <p class="btn btn-outline btn-info btn-xs"
                                                        ng-click="pesquisarReceitasPrescritas(paciente)">VER
                                                        RECEITAS</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Medicamentos Prescritos</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <p>QTDE DE ITENS: 123 ITENS</p>
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover"
                                    id="dataTables-itensReceita">
                                    <thead>
                                        <tr>
                                            <th>Nº RECEITA</th>
                                            <th>MEDICAMENTO/MATERIAL</th>
                                            <th>DATA PRESC</th>
                                            <th>DATA RETIRADA</th>
                                            <th>QTDE PRESCRITA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeA">
                                            <td>0000-000-000</td>
                                            <td>MEDICAMENTO 1</td>
                                            <td>00/00/0000</td>
                                            <td>00/00/0000</td>
                                            <td>12 ITENS</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /.table-responsive -->
                            </div>
                        <!-- /.dataTable_wrapper -->
                            </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.col-lg-12 -->
                    
                </div>
                <!-- /.row -->
                
                <br>
            </div>
            
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-12 -->
    <script>
        $(document).ready(function() {
            $('#dataTables-buscaPacientes').DataTable({
                responsive : true
            });
        });
        $(document).ready(function() {
            $('#dataTables-itensReceita').DataTable({
                responsive : true
            });
        });
        $(document).ready(function() {
            $('#dataTables-receitasPrescritas').DataTable({
                responsive : true
            });
        });
    </script>
</div>
