<div class="row">
	<div class="col-lg-12 page-directory">
		<h6>
			<a href="#/index">Início</a> / <a href="#/mudanca">Mudança</a>
		</h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" data-ng-controller="mudancasCtrl">
	<div class="col-lg-12">
		<h3 class="page-header">Mudança</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<iframe
					src="https://calendar.google.com/calendar/embed?src=diogopucgo%40gmail.com&ctz=America/Sao_Paulo"
					style="border: 0" width="1000" height="600" frameborder="0"
					scrolling="no"></iframe>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->