<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Middleware</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="middlewareCtrl">
    <div class="col-lg-8">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Gerenciamento do Middleware</h4>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="panel-body">
                            <a ng-click=""
                                class="btn btn-primary btn-md">Ligar middleware</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel-body">
                            <a ng-click=""
                                class="btn btn-danger btn-md">Desligar Middleware</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel-body">
                            <p>O middleware esta em funcionamento</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover"
                                    id="dataTables-receitasPrescritas">
                                    <thead>
                                        <tr>
                                            <th>Ultimas Mensagens</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeA">
                                            <td>Mensagem Mensagem Mensagem Mensagem Mensagem
                                                Mensagem Mensagem Mensagem Mensagem</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Mensagem Mensagem Mensagem Mensagem Mensagem
                                                Mensagem Mensagem Mensagem Mensagem</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Mensagem Mensagem Mensagem Mensagem Mensagem
                                                Mensagem Mensagem Mensagem Mensagem</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Mensagem Mensagem Mensagem Mensagem Mensagem
                                                Mensagem Mensagem Mensagem Mensagem</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item"> <i
                        class="fa fa-laptop fa-fw"></i> Middleware ativo <span
                        class="pull-right text-muted small"><em>4 minutes ago</em>
                    </span>
                    </a> <a href="#" class="list-group-item"> <i
                        class="fa fa-upload fa-fw"></i> Atualização de estoque <span
                        class="pull-right text-muted small"><em>12 minutes ago</em>
                    </span>
                    </a> <a href="#" class="list-group-item"> <i
                        class="fa fa-warning fa-fw"></i> Queda de Servidor! <span
                        class="pull-right text-muted small"><em>11:13 AM</em> </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 col-md-4 -->
    <script>
        $(document).ready(function() {
            $('#dataTables-buscaPacientes').DataTable({
                responsive : true
            });
        });
        $(document).ready(function() {
            $('#dataTables-itensReceita').DataTable({
                responsive : true
            });
        });
        $(document).ready(function() {
            $('#dataTables-receitasPrescritas').DataTable({
                responsive : true
            });
        });
    </script>
</div>