<div class="row">
	<div class="col-lg-12 page-directory">
		<h6>
			<a href="#">Início</a> / <a href="#">Reservas</a>
		</h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" data-ng-controller="reservasCtrl">
	<div class="col-lg-12">
		<h3 class="page-header">Reservadas</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="calendar"></div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->