<!DOCTYPE html>
<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> / <a href="#">404</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Erro 404. Ops parece que você procurou uma página inexistente!</h3>
		<p><a href="#/index">Voltar à página inicial</a></p>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->