<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> / <a href="#">Cadastros</a> / <a href="#/cadastroColaborador">Colaborador</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Cadastro</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="cadastroColaboradoresCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-plus">
				Colaboradores
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs ">+</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%" class="table table-striped table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>NOME</th>
							<th>CPF</th>
							<th>CARGO</th>
							<th>TELEFONE</th>
							<th>PLACA</th>
						</tr>
					</thead>
					<tbody>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
						<tr class="gradeC">
							<td>Fulano di Tal</td>
							<td>000.000.000-00</td>
							<td>Volksvagem</td>
							<td>PORTEIRO</td>
							<td>(00) 0000-0000</td>
						</tr>
					</tbody>
				</table>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
</script>