<div class="row">
	<div class="col-lg-12 page-directory">
		<h6>
			<a href="#/index">Início</a> / <a href="#">Cadastros</a> / <a href="#/cadastroVeiculos">Veiculos</a>
		</h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Cadastro</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" ng-controller="listaProfissionaisCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Cadastro de Profissional</div>
            <div class="panel-body">
                <form role="form">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseInclusaoAlteracao">Inclusão/Alteração</a>
                                </h4>
                            </div>
                            <div id="collapseInclusaoAlteracao"
                                class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Nome:</label> <input class="form-control"
                                                    placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Profissional:</label> <select class="form-control">
                                                    <option>MEDICO</option>
                                                    <option>ENFERMEIRO</option>
                                                    <option>FARMACEUTICO</option>
                                                    <option>GERENTE</option>
                                                    <option>ANALISTA</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Especialidade:</label> <input class="form-control"
                                                    placeholder="Enter text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Conselho Profissional:</label> <input
                                                    class="form-control" placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>UF:</label> <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Login:</label> <input class="form-control"
                                                    placeholder="Enter text">
                                            </div>
                                            <div class="form-group">
                                                <label>Senha:</label> <input class="form-control"
                                                    placeholder="Enter text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseUnidade">Unidade</a>
                                </h4>
                            </div>
                            <div id="collapseUnidade" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>AtribuiÃ§oes:</label> <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-primary">Adicionar</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Lista de Profissionais
                                                    Cadastrados</div>
                                                <div class="dataTable_wrapper">
                                                    <table
                                                        class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>CÃ³digo</th>
                                                                <th>Unidade</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd gradeX">
                                                                <td>1122</td>
                                                                <td>Internet Explorer 4.0</td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-circle">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger btn-circle">
                                                                        <i class="fa fa-trash-o"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr class="even gradeC">
                                                                <td>2233</td>
                                                                <td>Internet Explorer 5.0</td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-circle">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger btn-circle">
                                                                        <i class="fa fa-trash-o"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr class="gradeU">
                                                                <td>Other browsers</td>
                                                                <td>All others</td>
                                                                <td>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-circle">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger btn-circle">
                                                                        <i class="fa fa-trash-o"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel panel-default -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
</script>