<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> / <a href="#">Cadastros</a> / <a href="#/cadastroLocalidade">Localidade</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Cadastro</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="cadastroLocalidadesCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-plus">
				Localidades
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs">+</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%" class="table table-striped table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>TIPO</th>
							<th>DESCRIÇÃO</th>
							<th>DISPONIBILIDADE</th>
						</tr>
					</thead>
					<tbody>
						<tr class="gradeC">
							<td>Churrasqueira</td>
							<td>Churrasqueira Sul</td>
							<td>Todos os Dias</td>
						</tr>
					</tbody>
				</table>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
</script>