<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> /</h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Seja Bem Vindo</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="indexCtrl">
	<div class="col-lg-2 col-md-2">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-user fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">2</div>
								<div>Usuários</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">Detalhes</span> <span class="pull-right"><i
								class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-tasks fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">12</div>
								<div>Atualizações realizadas</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">Detalhes</span> <span class="pull-right"><i
								class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-file-text-o fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">3</div>
								<div>Solicitações realizadas</div>
							</div>
						</div>
					</div>
					<a href="#">
						<div class="panel-footer">
							<span class="pull-left">Detalhes</span> <span class="pull-right"><i
								class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.col-lg-2 col-md-4 -->
	<div class="col-lg-6 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bell fa-fw"></i> Acompanhamento de Solicitações
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<!-- Javascript -->
				<script>
					init.push(function() {
						$('#dashboard-recent .panel-body > div').slimScroll({
							height : 470,
							alwaysVisible : true,
							color : '#888',
							allowPageScroll : true
						});
					})
				</script>
				<!-- / Javascript -->

				<div class="panel" id="dashboard-recent">
					<div class="panel-heading">
						<ul class="nav nav-pills">
							<li class="active"><a href="#dashboard-serie-alunosem"
								data-toggle="tab">Solicitações aceitas</a></li>
							<li><a href="#dashboard-serie-vencida" data-toggle="tab">Vencidas</a>
							</li>
							<li><a href="#dashboard-serie-vencendo" data-toggle="tab">Vencendo</a>
							</li>
						</ul>
					</div>
					<!-- / .panel-heading -->
					<div class="tab-content">
						<!-- SEM Série -->
						<div
							class="widget-threads panel-body tab-pane no-padding fade active in"
							id="dashboard-serie-alunosem">
							<div class="slimScrollDiv"
								style="position: relative; overflow: hidden; width: auto;">
								<div class="panel-padding no-padding-vr"
									style="overflow: hidden; width: auto;">
									<div class="thread">
										<!-- LISTAR NO MAXIMO 4 ITENS-->
										<!--item 1-->
										<div class="thread-body">
											<span class="thread-time" style="margin-left: 10px;"><a
												href="#" class="btn btn-default btn-xs thread-title">VISUALIZAR</a></span>
											<b>João da Silva</b> Liberou o seu pedido
											<div class="thread-info">A solicitação "Anestesicos cirurgicos" está disponivel para retirada na farmacia C01 até 00/00/0000</div>
										</div>
										<hr>
										<!--item 2-->
										<div class="thread-body">
											<span class="thread-time" style="margin-left: 10px;"><a
												href="#" class="btn btn-default btn-xs thread-title">VISUALIZAR</a></span>
											<b>Nelson da Sousa</b> Liberou o seu pedido
											<div class="thread-info">A solicitação "Calmantes" está disponivel para retirada na farmacia C01 até 00/00/0000</div>
										</div>
										<hr>
										<!--item 3-->
										<div class="thread-body">
											<span class="thread-time" style="margin-left: 10px;"><a
												href="#" class="btn btn-default btn-xs thread-title">VISUALIZAR</a></span>
											<b>Bonifacio da Costa</b> Liberou o seu pedido
											<div class="thread-info">A solicitação "Anestesicos cirurgicos" está disponivel para retirada na farmacia C01 até 00/00/0000</div>
										</div>
										<hr>
									</div>
								</div>
							</div>
						</div>

						<!-- Series VENCIDA -->
						<div class="widget-threads panel-body tab-pane no-padding fade"
							id="dashboard-serie-vencida">
							<div class="slimScrollDiv"
								style="position: relative; overflow: hidden; width: auto;">
								<div class="panel-padding no-padding-vr"
									style="overflow: hidden; width: auto;">
									<br> <br>
									<div class="row text-center" style="padding: 10px;">Não
										existe nenhuma terapia vencida</div>
								</div>
							</div>
						</div>

						<!-- Serie VENCENDO -->
						<div class="widget-threads panel-body tab-pane no-padding fade"
							id="dashboard-serie-vencendo">
							<div class="slimScrollDiv"
								style="position: relative; overflow: hidden; width: auto;">
								<div class="panel-padding no-padding-vr"
									style="overflow: hidden; width: auto;">
									<br> <br>
									<div class="row text-center" style="padding: 10px;">Não
										existe nenhuma terapia vencendo nos próximos 7 dias</div>
								</div>
								<div class="slimScrollBar"
									style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(136, 136, 136);">

								</div>
								<div class="slimScrollRail"
									style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.panel-body-->
		</div>
		<!-- /.panel panel-default-->
	</div>
	<!-- /.col-lg-6 col-md-6-->
	<div class="col-lg-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bell fa-fw"></i> Notifications Panel
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item"> <i
						class="fa fa-comment fa-fw"></i> New Comment <span
						class="pull-right text-muted small"><em>4 minutes ago</em>
					</span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-envelope fa-fw"></i> Message Sent <span
						class="pull-right text-muted small"><em>27 minutes ago</em>
					</span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-tasks fa-fw"></i> New Task <span
						class="pull-right text-muted small"><em>43 minutes ago</em>
					</span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-upload fa-fw"></i> Server Rebooted <span
						class="pull-right text-muted small"><em>11:32 AM</em> </span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-bolt fa-fw"></i> Server Crashed! <span
						class="pull-right text-muted small"><em>11:13 AM</em> </span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-warning fa-fw"></i> Server Not Responding <span
						class="pull-right text-muted small"><em>10:57 AM</em> </span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-shopping-cart fa-fw"></i> New request Placed <span
						class="pull-right text-muted small"><em>9:49 AM</em> </span>
					</a> <a href="#" class="list-group-item"> <i
						class="fa fa-money fa-fw"></i> Request Received <span
						class="pull-right text-muted small"><em>Yesterday</em> </span>
					</a>
				</div>
				<!-- /.list-group -->
				<a href="#" class="btn btn-default btn-block">View All Alerts</a>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-3 col-md-3 -->

	
</div>
<!-- /.row -->