<div class="row">
    <div class="col-lg-12 page-directory">
        <h6><a href="#/index">Início</a> /</h6>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Acompanhe seus rastreamentos</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" ng-controller="listaRastreamentosCtrl">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">#102030 - Ficha tecnica - Entrega para Hospital das Clinicas</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-8">Solicitante: Diogo Oliveira</div>
                                        <div class="col-lg-4">
                                            <a href="gerencia_paciente.html" class="btn btn-warning btn-xs">Gerenciar</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <img src="http://fakeimg.pl/60/?text=IMG">
                                        </div>
                                        <!-- /.col-lg-4 -->
                                        <div class="col-lg-8">
                                            <p>
                                                <b>Telefone:</b> 00 0000-0000<br> <b>Empresa:</b> Rede Mais
                                        </div>
                                        <!-- /.col-lg-8 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <div class="panel-footer">
                                    <b>Função:</b> Administrador de Sistemas
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <h4>Informações Gerais:</h4>
                            <div class="dataTable_wrapper">
                                <table id="dataTables-rastreamentos" class="table table-striped table-bordered" style="width:100%">
                                    <tbody>
                                        <tr>
                                          <th>Origem:</th>
                                            <td>Rede Mais - Centro de distribuição</td>
                                        </tr>
                                        <tr>
                                          <th>Destino:</th>
                                            <td>Hospital das clinicas</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <hr>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <h4>Dados sobre o motorista/Entregador:</h4>
                            <div class="dataTable_wrapper">
                                <table id="dataTables-rastreamentos" class="table table-striped table-bordered" style="width:100%">
                                    <tbody>
                                        <tr>
                                          <th>Nome:</th>
                                            <td>Mauricio Meireles</td>
                                        </tr>
                                        <tr>
                                          <th>Veiculo Utilizado:</th>
                                            <td>Mercedes Atego</td>
                                        </tr>
                                        <tr>
                                          <th>Localização:</th>
                                            <td>São Carlos</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <hr>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <h4>Dados sobre a entrega:</h4>
                            <div class="dataTable_wrapper">
                                <table id="dataTables-rastreamentos" class="table table-striped table-bordered" style="width:100%">
                                    <tbody>
                                        <tr>
                                          <th>Quantidade de itens:</th>
                                            <td>00 Itens</td>
                                        </tr>
                                        <tr>
                                          <th>Produtos Pereciveis?</th>
                                            <td>Sim</td>
                                        </tr>
                                        <tr>
                                          <th>Itens de alto custo?</th>
                                            <td>SIM</td>
                                        </tr>
                                        <tr>
                                          <th>Ultima localização</th>
                                            <td>Pedagio BR 123 - Entrada de São Paulo</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <hr>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-12">
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70% Complete (
                                </div>
                                <!-- /.dataTable_wrapper -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover"
                                        id="dataTables-itensReceita">
                                        <thead>
                                            <tr>
                                                <th>CÓDIGO/GTIN</th>
                                                <th>MATERIAL/Descrição</th>
                                                <th>Quantidade</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeA">
                                                <td>0000</td>
                                                <td>Medicamento 1 - CX. 100 mml</td>
                                                <td>23 Itens</td>
                                                <td class="center"><i class="glyphicon glyphicon-search"></i></td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>0000</td>
                                                <td>Medicamento 1 - CX. 100 mml</td>
                                                <td>23 Itens</td>
                                                <td class="center"><i class="glyphicon glyphicon-search"></i></td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>0000</td>
                                                <td>Medicamento 1 - CX. 100 mml</td>
                                                <td>23 Itens</td>
                                                <td class="center"><i class="glyphicon glyphicon-search"></i></td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>0000</td>
                                                <td>Medicamento 1 - CX. 100 mml</td>
                                                <td>23 Itens</td>
                                                <td class="center"><i class="glyphicon glyphicon-search"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.dataTable_wrapper -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.col-lg-12 -->
                        
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-12 -->
    <script>
        $(document).ready(function() {
            $('#dataTables-rastreamentos').DataTable({
                responsive : true
            });
        });
    </script>
</div>
<!-- /.row -->
