<div class="row">
    <div class="col-lg-12 page-directory">
        <h6><a href="#/index">Início</a> /</h6>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Acompanhe seus rastreamentos</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" ng-controller="listaRastreamentosCtrl">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Buscar viagem</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form role="form">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nome:</label> <input class="form-control" name="nome"
                                        ng-model="paciente.nome" placeholder="Informe um paciente">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <div class="form-group">
                                    <button type="button" ng-click="pesquisarPaciente(paciente)"
                                        class="btn btn-success">Buscar</button>
                                </div>
                            </div>
														<div class="col-lg-2">
				                        <div class="panel-body">
				                            <a data-toggle="collapse" data-parent="#accordion"
				                                href="#collapseProntuario" ng-click=""
				                                class="btn btn-primary btn-md">+ Cadastrar Novo rastreamento</a>
				                        </div>
				                    </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
									<table id="dataTables-rastreamentos" class="table table-striped table-bordered" style="width:100%">
										<thead>
												<tr>
													<th></th>
													<th>Partida</th>
													<th>Status</th>
													<th>Previsto</th>
												</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#/detalhaRastreamento"><i class="glyphicon glyphicon-tags" aria-hidden="true"></i></a></td>
												<td>00/00/0000</td>
												<td><a href="#/detalhaRastreamento">
                                                    <div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70% Complete (info)
  </div></div>
</div>  
Localização: Centro de distribuição Brás                                  
                                                </td>
												<td>00/00/0000</td>
											</tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-tags" aria-hidden="true"></i></td>
                                                <td>00/00/0000</td>
                                                <td>
                                                    <div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%">
    5% Complete (info)
  </div>
</div>  
Localização: Drogaria Pag Menos                                  
                                                </td>
                                                <td>00/00/0000</td>
                                            </tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-tags" aria-hidden="true"></i></td>
                                                <td>00/00/0000</td>
                                                <td>
                                                    <div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
    60% Complete (info)
  </div>
</div>  
Localização: Centro de distribuição Mooca                                  
                                                </td>
                                                <td>00/00/0000</td>
                                            </tr>
										</tbody>
										<tfoot>
												<tr>
													<th></th>
                                                    <th>Partida</th>
                                                    <th>Status</th>
                                                    <th>Previsto</th>
												</tr>
										</tfoot>
									</table>
                                </div>
                                <!-- /.table-responsive -->
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-12 -->
    <script>
        $(document).ready(function() {
            $('#dataTables-rastreamentos').DataTable({
                responsive : true
            });
        });
    </script>
</div>
<!-- /.row -->
