<div class="row">
    <div class="col-lg-12 page-directory">
        <h6><a href="#/index">Início</a> /</h6>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Receitas</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" ng-controller="novaReceitaCtrl">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Buscar Paciente</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form role="form">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nome:</label> <input class="form-control" name="nome"
                                        ng-model="paciente.nome" placeholder="Informe um paciente">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <div class="form-group">
                                    <button type="button" ng-click="pesquisarPaciente(paciente)"
                                        class="btn btn-success">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover"
                                        id="dataTables-buscaPacientes">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Dt. Nasc</th>
                                                <th>Nome Mãe</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeA" ng-repeat="paciente in pacientesBusca">
                                                <td>{{paciente.nome}}</td>
                                                <td>{{paciente.dtNascimento}}</td>
                                                <td>{{paciente.nomeMae}}</td>
                                                <td class="center">
                                                    <p class="btn btn-outline btn-primary btn-xs">EDITAR</p>
                                                    <p class="btn btn-outline btn-success btn-xs" ng-click="cadastrarNovaReceita(paciente)">+ RECEITA</p>
                                                    <p class="btn btn-outline btn-info btn-xs" ng-click="pesquisarReceitasPrescritas(paciente)">VER RECEITAS</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Incluir Itens -
                        </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form role="form" name="itemForm">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Material/Medicamento:</label> 
                                    <select
                                        class="form-control" ng-model="itemReceita.medicamento" name="medicamento" 
                                        ng-options="medicamento.nome_medicamento for medicamento in medicamentos">
                                        <option value="">Selecione ...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>QTDE Presc.:</label> <input class="form-control"
                                        placeholder="00 unids" type="text"
                                        ng-model="itemReceita.qtdePrescrita" name="qtdePrescrita" ng-required="true">
                                    <p>Qtde(Cartelas[ct], frascos[fr], etc)</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Intervalo:</label> 
                                    <select class="form-control"
                                        ng-model="itemReceita.intervalo" ng-options="intervalo.descricao for intervalo in intervalos">
                                        <option value="">Selecione ...</option>
                                    </select>
                                    <p>Tempo para consumo do material</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Tempo de Trat.:</label> <input class="form-control"
                                        placeholder="00 dias" type="text"
                                        ng-model="itemReceita.tempoTratamento" name="tempoTratamento" ng-required="true">
                                    <p>Tempo em dias</p>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <br>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success"
                                        ng-click="adicionarItemReceita(itemReceita)" ng-disabled="itemForm.$invalid">Adicionar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover"
                                    id="dataTables-itensReceita">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>CÓDIGO</th>
                                            <th>MATERIAL</th>
                                            <th>PRESCRIÇÃO</th>
                                            <th>QTDE A DISPENSAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeA" ng-repeat="item in itensReceita">
                                            <td><input type="checkbox" ng-model="item.selecionado" /></td>
                                            <td>{{item.medicamento.codigo_medicamento}}</td>
                                            <td>{{item.medicamento.nome_medicamento}}</td>
                                            <td>{{item.prescricao}}</td>
                                            <td class="center">{{item.qtde_dispensar}} {{item.medicamento.unidSaida}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.dataTable_wrapper -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.col-lg-12 -->
                    <form role="form" name="itemForm2">
                        <center>
                            
                            <button class="btn btn-danger" ng-click="apagarItemReceita(itensReceita)" ng-disabled="!isItemSelecionado(itensReceita)" ng-show="itensReceita.length > 0">Excluir Itens</button>
                            <button type="submit" class="btn btn-primary" ng-show="itensReceita.length > 0" ng-if="opcaoSelecionada=='novo'" ng-click="cadastrarReceita(itensReceita)">Cadastrar Receita</button>
                            <button type="submit" class="btn btn-primary" ng-show="itensReceita.length > 0" ng-if="opcaoSelecionada=='update'" ng-click="atualizarReceita(itensReceita)">Salva Receita</button>
                        </center>
                    </form>
                </div>
                <!-- /.row -->
                
                <br>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Receitas Cadastradas</h4>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="panel-body">
                            <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapseProntuario" ng-click=""
                                class="btn btn-primary btn-md">+ Cadastrar Nova Receita</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover"
                                    id="dataTables-receitasPrescritas">
                                    <thead>
                                        <tr>
                                            <th>Nº RECEITA</th>
                                            <th>PRESCRITOR</th>
                                            <th>STATUS</th>
                                            <th>DT. EMISSÃO</th>
                                            <th>DT. FINALIZAÇÃO</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeA" ng-repeat="receita in receitas_prescritas">
                                            <td>{{receita.numReceita}}</td>
                                            <td>{{receita.profissional}}</td>
                                            <td><p class="btn btn-outline btn-info btn-xs">{{receita.status}}</p></td>
                                            <td>{{receita.dtEmissao}}</td>
                                            <td>{{receita.dtFinalizacao}}</td>
                                            <td class="center"><a href=""><p
                                                        class="btn btn-outline btn-warning btn-xs"
                                                        ng-hide="receita.status=='FINALIZADA'" ng-click="complementarReceita(receita.idReceita)">EDITAR</p></a> <a
                                                href=""><p class="btn btn-outline btn-success btn-xs">VISUALIZAR</p></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-12 -->
    <script>
        $(document).ready(function() {
            $('#dataTables-buscaPacientes').DataTable({
                responsive : true
            });
        });
        $(document).ready(function() {
            $('#dataTables-itensReceita').DataTable({
                responsive : true
            });
        });
        $(document).ready(function() {
            $('#dataTables-receitasPrescritas').DataTable({
                responsive : true
            });
        });
    </script>
</div>
<!-- /.row -->