<div class="row">
	<div class="col-lg-12 page-directory">
		<h6>
			<a href="#/index">Início</a> / <a href="#/classificados">Classificados</a>
		</h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Classificados</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" data-ng-controller="classificadosCtrl">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<img class="img-responsive" src="http://fakeimg.pl/300x200/">
			</div>
			<div class="panel-body">
				<h5 class="text-uppercase">
					<strong>nome do produto do anúncio</strong>
				</h5>
				<p class="text-justify">Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
					Aliquam ornare lacus adipiscing, posuere lectus et, fringilla
					augue.</p>
				<p>
					<strong>Por: Fulano di Tal &nbsp&nbsp&nbsp&nbsp 00
						0000-0000</strong>
				</p>
			</div>
		</div>
	</div>
	<!-- /.col-lg-4 -->

</div>
<!-- /.row -->