<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> / <a href="#/documentos">Documentos</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Documentos</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="documentosCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-plus">
				Documentos
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs">+</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%" class="table table-striped table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>NOME</th>
							<th>FORMATO</th>
							<th>DATA DA INCLUSÃO</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="gradeC">
							<td>Reforma da Brinquedoteca</td>
							<td>.PDF</td>
							<td>00/00/0000</td>
							<td><i class="fa fa-search"></i>&nbsp&nbsp&nbsp&nbsp<i
								class="fa fa-download"></i></td>
						</tr>
					</tbody>
				</table>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
</script>