<div class="row">
	<div class="col-lg-12 page-directory">
		<h6><a href="#/index">Início</a> / <a href="#/ocorrencias">Ocorrências</a></h6>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Cadastro</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row" data-ng-controller="ocorrenciasCtrl">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-plus">
				Ocorrências
				<div class="pull-right">
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-xs">+</a>
					</div>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%" class="table table-striped table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>CÓDIGO</th>
							<th>AGRUPADOS</th>
							<th>MORADOR</th>
							<th>APARTAMENTO</th>
							<th>BLOCO</th>
							<th>TITULO</th>
							<th>STATUS</th>
							<th>PRIORIDADE</th>
							<th>RESPONSÁVEL</th>
							<th>DATA DE INCLUSÃO</th>
						</tr>
					</thead>
					<tbody>
						<tr class="gradeC">
							<td>0000000000</td>
							<td class="text-center">01</td>
							<td>Fulano di tal</td>
							<td class="text-center">404</td>
							<td class="text-center">A</td>
							<td>Piscina Vazando</td>
							<td>Em análise</td>
							<td class="text-center">Alta</td>
							<td>Admin do Sis</td>
							<td>00/00/0000</td>
						</tr>
					</tbody>
				</table>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});
</script>